canvas {
	position: absolute;
	left: 50%;
	margin-left: -150px;
	margin-top: -225px;
	top: 50%;
	height: 450px;
	width: 300px;
}

#background.canvas {

	z-index: 0;

}

#main.canvas {

	z-index: 1;

}

#ship.canvas {

	z-index: 2;

}