canvas {
	border: solid 2px black;
}

#background {
	position: absolute;
	left: 100;
	top: 100;
	z-index: 0;
}

#main {
	position: absolute;
	left: 10;
	top: 100;
	z-index: 1;
}

#ship {
	position: absolute;
	left:10;
	top: 100;
	z-index: 2;
}